@using UmbracoProject.ViewModels
@model QuestionFormViewModel


 @using (Html.BeginUmbracoForm("HandleQuestionForm", "Form", FormMethod.Post, new { novalidate = "novalidate", id = "questionForm" }))
    {
<section class="max-w-4xl mx-auto py-10 px-6">
    <h2 class="text-lg font-semibold text-primary mb-6">Have a question ?</h2>

   
        <div class="flex flex-col gap-6">

            <!-- Name + Email -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <label asp-for="Name" class="sr-only"></label>
                    <input asp-for="Name" type="text" placeholder="@Html.DisplayNameFor(x => x.Name)"
                           class="w-full p-3 border border-gray-200 placeholder-gray-400 placeholder:italic text-gray-800 focus:ring-1 focus:ring-gray-300 focus:outline-none" />
                    <span asp-validation-for="Name" class="text-sm text-red-500"></span>
                </div>

                <div>
                    <label asp-for="Email" class="sr-only"></label>
                    <input asp-for="Email" type="email" placeholder="@Html.DisplayNameFor(x => x.Email)"
                           class="w-full p-3 border border-gray-200 placeholder-gray-400 placeholder:italic text-gray-800 focus:ring-1 focus:ring-gray-300 focus:outline-none" />
                    <span asp-validation-for="Email" class="text-sm text-red-500"></span>
                </div>
            </div>

            <!-- Question -->
            <div>
                <label asp-for="Question" class="sr-only"></label>
                <textarea asp-for="Question" rows="5" placeholder="@Html.DisplayNameFor(x => x.Question)"
                          class="w-full p-3 border border-gray-200 placeholder-gray-400 placeholder:italic text-gray-800 focus:ring-1 focus:ring-gray-300 focus:outline-none"></textarea>
                <span asp-validation-for="Question" class="text-sm text-red-500"></span>
            </div>

            <!-- Submit -->
            <div> 
                <button type="submit" class="bg-primary text-white font-semibold py-3 px-10 rounded-md hover:bg-primary/90 transition-all"> Submit </button>
                </div>

        </div>
    </section>

    }
