@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer class="bg-black text-gray-400 px-14 py-4 ">
    <div class="container mx-auto">
        <p class="pl-40">
            © Onatrix. All Rights Reserved. Credits to
            <span class="text-secondary">Themesflat</span>
        </p>
    </div>
</footer>

