@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.AboutUsSection)Model.Content;

    
}

<section class="flex flex-col md:flex-row items-center justify-center gap-10 md:gap-20 py-16 max-w-6xl mx-auto">
    <!-- Left side: Image -->
    <div class="w-full md:w-[45%] flex flex-col relative">
        <img src="@content.AboutUsSectionImage.Url()" alt="About Us Image"
             class="max-w-sm w-full object-cover" />
        <p class="mt-2 text-primary">Tina Fox - CEO & Founder at Onatrix</p>
    </div>


    <!-- Right side: Text content -->
    <div class="w-full md:w-[45%] space-y-6">
        <h1 class="text-gray-800 leading-tight">
            @content.AboutUsSectionTitle
        </h1>

        <p class="text-gray-600 text-sm leading-relaxed">
            @content.AboutUsSectionText
        </p>
    </div>
</section>
