@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.AboutUsReviewSection)Model.Content;


}

<section class="w-full bg-white-100">
    <div class="flex flex-col md:flex-row-reverse items-center justify-center gap-10 md:gap-20 max-w-6xl mx-auto px-6">
        <!-- Right side: Image -->
        <div class="w-full h-full -mr-60 flex relative">
            <img src="@content.AboutUsReviewImage.Url()" alt="About Us Image"
                 class=" max-w w-full " />
        </div>

        <!-- Left side: Text content -->
        <div class="w-full md:w-[45%] space-y-6">
            <h2 class="font-semibold text-secondary text-[14px] tracking-widest uppercase mb-2">
                @content.AboutUsReviewSectionLabel
            </h2>

            <h1 class="text-3xl font-extrabold text-primary leading-tight">
                @Html.Raw(content.AboutUsReviewTitle.Replace(Environment.NewLine, "<br />"))
            </h1>

            <p class="text-gray-600 text-lg leading-relaxed">
                @content.AboutUsReviewText
            </p>

            <div class="flex items-center space-x-1 text-500">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>

            <div>
                <p class="font-semibold text-gray-500 text-[14px]">Kevin Gardner</p>
                <p class="text-gray-800 italic text-[20px]">Swedbank</p>
            </div>
        </div>

        </div>
    
</section>





