@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	var content = (ContentModels.ClientSection)Model.Content;
	
}

<section class="client-section relative text-center">
    <div class="container mx-auto relative z-10 mt-20">
        <div class="mb-4">
            @Html.Raw(content.ClientTitle)
        </div>
        <p class="max-w-xl mx-auto text-gray-600 mb-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla.
            Nam accumsan porttitor arcu, ac tincidunt lectus tincidunt sed.
        </p>
        <button class="bg-[#2e3d35] text-white px-6 py-3 font-bold">
            Read our story
        </button>
    </div>

  
    <img src="~/images/earthbackground.svg" alt="Earth Background" class="absolute top-5 left-1/2 -translate-x-1/2 w-[80%] max-w-4xl opacity-40 z-0" />

    
    <img src="~/images/group-team-image.svg.svg" alt="Team" class="relative mx-auto mt-10 z-10 w-[80%] max-w-5xl" />

</section>
