@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	var content = (ContentModels.SuccessSection)Model.Content;

}
<section class="client-section relative text-center py-16 bg-primary  ">
    <div class="relative z-10 mb-12">
        <div class="rte text-sm uppercase tracking-widest text-gray-300 mb-2">
            @Html.Raw(content.SuccessLabel)
        </div>
        <div class="rte text-3xl font-semibold mb-10">
            @Html.Raw(content.SuccessTitle)
        </div>
    </div>

    
    <div class="relative z-10 grid grid-cols-1 md:grid-cols-3 gap-10 max-w-5xl mx-auto mb-20">
        <div>
            <h1 class="text-6xl font-semibold text-secondary">689</h1>
            <p class="text-gray-200 font-semibold mt-2">More than 100 customers has been served</p>
        </div>
        <div>
            <h1 class="text-6xl font-semibold text-secondary">370</h1>
            <p class="text-gray-200 font-semibold mt-2">More than 370 projects has been completed</p>
        </div>
        <div>
            <h1 class="text-6xl font-semibold text-secondary">125</h1>
            <p class="text-gray-200 font-semibold mt-2">More than 125 branches has been established in Europe and America</p>
        </div>
    </div>


    <img src="~/images/Dot map.svg" alt="Earth Background" class="absolute top-5 left-1/2 -translate-x-1/2 w-[80%] max-w-4xl opacity-40 z-0" />


    <img src="~/images/Video 1.png" alt="Team" class="relative mx-auto w-[60%] max-w-5xl -mb-32 z-10 shadow-lg" />

</section>
