<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8384a6da-c439-4140-b872-084a8cd0a229" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0d09ab50-e0f0-4f6f-bd94-f8b06b588140"
    },
    {
      "contentElementTypeKey": "9f5888fc-b578-4860-ac24-c03c7fe53841",
      "settingsElementTypeKey": "4fc0076e-e2c9-4839-8dd0-066865df7f75"
    },
    {
      "contentElementTypeKey": "860498a7-adaa-4b3e-ac4a-4fa375073cb3"
    },
    {
      "contentElementTypeKey": "cb8e4d0a-7e14-4f30-9ece-7288440a5f12",
      "settingsElementTypeKey": "dc1958a9-26c5-4a13-bf16-c554aac9161b"
    },
    {
      "contentElementTypeKey": "9c2664ac-d533-4bff-9d7f-36fc110037ba"
    },
    {
      "contentElementTypeKey": "65cb2245-369d-47f6-a4d4-b5c9b9465117"
    },
    {
      "contentElementTypeKey": "7f794dd1-65ae-49e7-8590-25d91d13f184"
    },
    {
      "contentElementTypeKey": "12c824c2-b60a-4bf9-aa37-f1e986d2b1fb",
      "settingsElementTypeKey": "01fcac09-3e9b-4dc1-a6aa-63da401df346"
    },
    {
      "contentElementTypeKey": "9da8ad47-f9e2-4476-8207-b7b2d94eb670"
    },
    {
      "contentElementTypeKey": "b2de48eb-b6ed-4265-991e-02da83f74a3f"
    },
    {
      "contentElementTypeKey": "5f19885d-8839-4eff-89e0-641784c0ce87"
    },
    {
      "contentElementTypeKey": "fa6808c7-6c48-4ebe-9d67-5304a1fa44fa"
    }
  ]
}]]></Config>
</DataType>