<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8384a6da-c439-4140-b872-084a8cd0a229" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0d09ab50-e0f0-4f6f-bd94-f8b06b588140"
    },
    {
      "contentElementTypeKey": "9f5888fc-b578-4860-ac24-c03c7fe53841",
      "settingsElementTypeKey": "4fc0076e-e2c9-4839-8dd0-066865df7f75"
    },
    {
      "contentElementTypeKey": "860498a7-adaa-4b3e-ac4a-4fa375073cb3"
    },
    {
      "contentElementTypeKey": "cb8e4d0a-7e14-4f30-9ece-7288440a5f12",
      "settingsElementTypeKey": "dc1958a9-26c5-4a13-bf16-c554aac9161b"
    }
  ]
}]]></Config>
</DataType>