<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8d8f7423-6be9-4782-bce8-271bb108e8fd" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "85cf4afb-05d9-4eb9-80ae-d94625c50576"
    }
  ]
}]]></Config>
</DataType>