<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6587b186-f127-43f3-bbce-6fea6a47abb8" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "01e5a71c-d940-48ea-acfd-9ea171ce0fa5",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>