<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ced8ace3-d8ed-48ff-b603-e799dc147b2d" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1fa023fb-0133-4765-ab56-97a08772a6e6",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>