<?xml version="1.0" encoding="utf-8"?>
<Content Key="9cfaccdd-73fc-4e4f-8394-209babfd6046" Alias="2025-11-10 13:48 - Emeli" Level="2">
  <Info>
    <Parent Key="856505f2-45a8-415a-8805-43047a4cf0e9">Form Submissions</Parent>
    <Path>/FormSubmissions/Emeli</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T13:48:30</CreateDate>
    <NodeName Default="2025-11-10 13:48 - Emeli" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[emeli@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Emeli]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0707070707]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>