<?xml version="1.0" encoding="utf-8"?>
<Content Key="2004fbcf-0d72-4efd-ba8d-2f6546363146" Alias="2025-11-10 13:59 - test" Level="2">
  <Info>
    <Parent Key="856505f2-45a8-415a-8805-43047a4cf0e9">Form Submissions</Parent>
    <Path>/FormSubmissions/test</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T13:59:19</CreateDate>
    <NodeName Default="2025-11-10 13:59 - test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[52654768768678]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>