<?xml version="1.0" encoding="utf-8"?>
<Content Key="b83b7f29-6225-42b9-920d-e698b817e8d0" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="d8676886-5450-4ac9-81cd-d858756676a7">Services</Parent>
    <Path>/Onatrix/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-05T10:10:08</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="246c8b09-7a0b-4a0a-889b-217f5ffd22d6">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "9da9a985-fbde-445b-963c-2cf5bb8435e3",
    "mediaKey": "d8132d06-d9a3-4264-8ff0-21d522dc94cf",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>