<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f4cf7fc-0608-4d60-a9f2-4fdfb5cc7367" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="d8676886-5450-4ac9-81cd-d858756676a7">Services</Parent>
    <Path>/Onatrix/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-05T10:10:29</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="246c8b09-7a0b-4a0a-889b-217f5ffd22d6">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "de564f5d-2070-4681-9199-f357f5f54d7c",
    "mediaKey": "ba33f34c-127b-4a19-9268-c3a1f218aed1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>