<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa076a61-9e21-4901-9e9a-184077d30ef7" Alias="Contact" Level="2">
  <Info>
    <Parent Key="314946f4-43a3-4e68-a73c-b3b6e19f5293">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-27T10:47:30</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aae68ba6-0e07-4d7a-b956-970a6a371e8d">ContactPage</Template>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </bannerTitle>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "12c824c2-b60a-4bf9-aa37-f1e986d2b1fb",
      "key": "079a51d4-af89-46b4-bbc8-abdb6dbb72b9",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about\u003Cbr /\u003E your next project"
        },
        {
          "alias": "contactInfoSectionImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f788d5e3-79d2-41c7-8f17-b6765762471e",
              "mediaKey": "7465ca1b-123f-4297-894f-cf0b465d55b6",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "7f794dd1-65ae-49e7-8590-25d91d13f184",
      "key": "3996aa07-19b8-4d07-8963-5700a510ecef",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "5f19885d-8839-4eff-89e0-641784c0ce87",
      "key": "43ab9b46-5d63-4ab2-9da9-93a6662a9312",
      "udi": null,
      "values": [
        {
          "alias": "formLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "formTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your\u003Cbr\u003Enext project"
        },
        {
          "alias": "formDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas \u003Cbr /\u003Econsectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "01fcac09-3e9b-4dc1-a6aa-63da401df346",
      "key": "ba73a096-dd88-4c35-bad4-75ff35f18616",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "079a51d4-af89-46b4-bbc8-abdb6dbb72b9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3996aa07-19b8-4d07-8963-5700a510ecef",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "43ab9b46-5d63-4ab2-9da9-93a6662a9312",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "079a51d4-af89-46b4-bbc8-abdb6dbb72b9",
        "contentUdi": null,
        "settingsKey": "ba73a096-dd88-4c35-bad4-75ff35f18616",
        "settingsUdi": null
      },
      {
        "contentKey": "43ab9b46-5d63-4ab2-9da9-93a6662a9312",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3996aa07-19b8-4d07-8963-5700a510ecef",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>