<?xml version="1.0" encoding="utf-8"?>
<Content Key="19fae7a4-b539-49d5-8e39-ddc6b620eed5" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="d8676886-5450-4ac9-81cd-d858756676a7">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-05T10:08:46</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="246c8b09-7a0b-4a0a-889b-217f5ffd22d6">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "eedef530-a09b-400c-a520-5336f30b3dd0",
    "mediaKey": "c1385263-e77d-4592-8457-830783ef99eb",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>