<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6194056-c180-4a83-8b6d-2309a76069c2" Alias="Projects" Level="2">
  <Info>
    <Parent Key="314946f4-43a3-4e68-a73c-b3b6e19f5293">Onatrix</Parent>
    <Path>/Onatrix/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectPage</ContentType>
    <CreateDate>2025-11-07T11:03:11</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a1af31-b3f1-4220-9642-dd9613af198f">ProjectPage</Template>
  </Info>
  <Properties />
</Content>