<?xml version="1.0" encoding="utf-8"?>
<Content Key="d8676886-5450-4ac9-81cd-d858756676a7" Alias="Services" Level="2">
  <Info>
    <Parent Key="314946f4-43a3-4e68-a73c-b3b6e19f5293">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-27T11:08:51</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f387d949-d02e-46a9-b39f-bceb25bb219f">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9f5888fc-b578-4860-ac24-c03c7fe53841",
      "key": "6202dd3b-93a0-4f0a-8ae9-e77a64a0e3aa",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "12c824c2-b60a-4bf9-aa37-f1e986d2b1fb",
      "key": "ae597bb0-29d6-4443-b926-21a247d719a7",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactInfoSectionImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "449dc219-c332-42ea-820c-67a1c6fe9c1f",
              "mediaKey": "585c971e-6f16-4ec1-a485-5ebe2e2c8162",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "4fc0076e-e2c9-4839-8dd0-066865df7f75",
      "key": "a8391b5f-89c2-4ebd-9c44-6348e4d25067",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "01fcac09-3e9b-4dc1-a6aa-63da401df346",
      "key": "1dac0ebb-3aa2-4cb2-8edc-4064d2cd6380",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoSectionColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "6202dd3b-93a0-4f0a-8ae9-e77a64a0e3aa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ae597bb0-29d6-4443-b926-21a247d719a7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6202dd3b-93a0-4f0a-8ae9-e77a64a0e3aa",
        "contentUdi": null,
        "settingsKey": "a8391b5f-89c2-4ebd-9c44-6348e4d25067",
        "settingsUdi": null
      },
      {
        "contentKey": "ae597bb0-29d6-4443-b926-21a247d719a7",
        "contentUdi": null,
        "settingsKey": "1dac0ebb-3aa2-4cb2-8edc-4064d2cd6380",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>