<?xml version="1.0" encoding="utf-8"?>
<Content Key="18918501-4f8c-4085-8cfa-5a46fd9f57fb" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="d8676886-5450-4ac9-81cd-d858756676a7">Services</Parent>
    <Path>/Onatrix/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-05T10:07:42</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="246c8b09-7a0b-4a0a-889b-217f5ffd22d6">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "fc0034cc-c568-40e7-b5f5-ad74c6e7002d",
    "mediaKey": "4daa3a3b-51c9-492e-998e-35f3d5186f5b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>