@import "tailwindcss";
@import "./forms.css";
@import "./rte.css";




@theme {
    --color-primary: #4F5955;
    --color-neutral: #ffffff;
    --color-white: #F2EDDC;
    --color-white-100: #F7F7F7;
    --color-dark: #0E0E0E;
    --volor-main-light: #606966;
    --color-accent: #F2EDDC;
    --color-gray-400: #4B5264;
    --color-secondary: #D9C3A9;
    --color-body-text: #535656;
    --color-body-text-100: #999999;
    --color-notel: #9C9EA6;
    --color-border-gray: #EAEAEA;
    --color-border-400: #C7C8C9;
    --container-padding: 1rem;
    --transition-time: all 0.2s;

    --font-poppins: "Poppins", sans-serif;

    --text-rte-xl: 4.375rem;
    --text-rte-lg: 2.5rem;
    --text-rte-md: 1.25rem;
    --text-rte-sm: 1rem;
    --text-rte-xs: 0.875rem;
}

body {
    @apply font-poppins;
}



.current a {
    @apply text-secondary;
}



@layer base {
    body {
        font-family: var(--font-poppins);
    }
}
