.rte h3 {
    @apply text-[2.5rem] text-primary font-bold;
}

.rte {
    @apply text-[1.2rem] text-primary font-bold;
}

.img-full-width {
    @apply w-full h-auto object-cover;
}
.rte-ul {
    @apply list-disc pl-5 mt-3;
}

    .rte-ul li {
        @apply text-rte-xs text-body-text mb-3;
    }

        .rte-ul li::marker {
            @apply text-secondary;
        }

.rte p {
    @apply mb-3;
}