<?xml version="1.0" encoding="utf-8"?>
<Media Key="e281b4e0-4363-48f3-a5bd-1e0dcf62ca7c" Alias="aboutus-image3.svg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aboutusImage3svgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:46:07</CreateDate>
    <NodeName Default="aboutus-image3.svg.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ciedgady/aboutus-image3svg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>