<?xml version="1.0" encoding="utf-8"?>
<Media Key="89a207b3-03a7-4e3f-82c1-56190193fbb1" Alias="aboutus-image1.svg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aboutusImage1svgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T12:28:33</CreateDate>
    <NodeName Default="aboutus-image1.svg.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ig3aa032/aboutus-image1svg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>