<?xml version="1.0" encoding="utf-8"?>
<Media Key="66298a77-e380-4f2e-9dd9-a011268ef769" Alias="aboutus-image2.svg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aboutusImage2svgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T12:41:06</CreateDate>
    <NodeName Default="aboutus-image2.svg.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qu1jxbe1/aboutus-image2svg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>