<?xml version="1.0" encoding="utf-8"?>
<Media Key="64b65909-f745-47b9-884b-bca53f5afa1c" Alias="ajcarter.svg.svg" Level="2">
  <Info>
    <Parent Key="a4cd75ac-e73f-47db-b946-89732f9c05c5">Tema</Parent>
    <Path>/Tema/ajcartersvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T14:02:40</CreateDate>
    <NodeName Default="ajcarter.svg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5psbjbs4/ajcartersvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>