<?xml version="1.0" encoding="utf-8"?>
<Media Key="35997008-9d33-475f-a2c5-63501d3aa990" Alias="aronlambert.svg.svg" Level="2">
  <Info>
    <Parent Key="a4cd75ac-e73f-47db-b946-89732f9c05c5">Tema</Parent>
    <Path>/Tema/aronlambertsvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T14:02:50</CreateDate>
    <NodeName Default="aronlambert.svg.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5lgdxvzi/aronlambertsvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>