<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8132d06-d9a3-4264-8ff0-21d522dc94cf" Alias="assuranceandaudits-image.svg.svg" Level="2">
  <Info>
    <Parent Key="4364da6e-767a-425f-9e53-047cb19c26e8">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/assuranceandauditsImagesvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T10:06:16</CreateDate>
    <NodeName Default="assuranceandaudits-image.svg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4silcovy/assuranceandaudits-imagesvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>