<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba33f34c-127b-4a19-9268-c3a1f218aed1" Alias="bondsandcommodities-image.svg.svg" Level="2">
  <Info>
    <Parent Key="4364da6e-767a-425f-9e53-047cb19c26e8">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/bondsandcommoditiesImagesvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T10:06:26</CreateDate>
    <NodeName Default="bondsandcommodities-image.svg.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xzhjcwda/bondsandcommodities-imagesvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>