<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a1c379b-4ded-415c-9db9-2c7d9b5f9018" Alias="brandonkerr.svg.svg" Level="2">
  <Info>
    <Parent Key="a4cd75ac-e73f-47db-b946-89732f9c05c5">Tema</Parent>
    <Path>/Tema/brandonkerrsvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T14:03:07</CreateDate>
    <NodeName Default="brandonkerr.svg.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ngfl3khw/brandonkerrsvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>