<?xml version="1.0" encoding="utf-8"?>
<Media Key="29426199-71e3-4e7a-9b82-2de5aa399e31" Alias="brandonnewton.svg.svg" Level="2">
  <Info>
    <Parent Key="a4cd75ac-e73f-47db-b946-89732f9c05c5">Tema</Parent>
    <Path>/Tema/brandonnewtonsvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T14:03:02</CreateDate>
    <NodeName Default="brandonnewton.svg.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/npoobs5y/brandonnewtonsvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>