<?xml version="1.0" encoding="utf-8"?>
<Media Key="585c971e-6f16-4ec1-a485-5ebe2e2c8162" Alias="Contactusinfo.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contactusinfojpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T11:17:18</CreateDate>
    <NodeName Default="Contactusinfo.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sfobv1t5/contactusinfo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>