<?xml version="1.0" encoding="utf-8"?>
<Media Key="608d1f84-4967-4e21-a183-04e1e7d21c6e" Alias="Contact.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contactsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T12:19:42</CreateDate>
    <NodeName Default="Contact.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o0rc5at2/contact.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>