<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1385263-e77d-4592-8457-830783ef99eb" Alias="financialadvisor-image.svg.svg" Level="2">
  <Info>
    <Parent Key="4364da6e-767a-425f-9e53-047cb19c26e8">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/financialadvisorImagesvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T10:06:33</CreateDate>
    <NodeName Default="financialadvisor-image.svg.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/shxjui1g/financialadvisor-imagesvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>