<?xml version="1.0" encoding="utf-8"?>
<Media Key="7465ca1b-123f-4297-894f-cf0b465d55b6" Alias="happyguy.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/happyguysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T10:18:54</CreateDate>
    <NodeName Default="happyguy.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3f1npfre/happyguy.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>