<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9c72edc-a942-4d18-b7b5-b1b0a803ce6d" Alias="KevinGardner.svg.svg" Level="2">
  <Info>
    <Parent Key="a4cd75ac-e73f-47db-b946-89732f9c05c5">Tema</Parent>
    <Path>/Tema/KevinGardnersvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T14:03:13</CreateDate>
    <NodeName Default="KevinGardner.svg.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f0jhkk0z/kevingardnersvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>