<?xml version="1.0" encoding="utf-8"?>
<Media Key="f119a4e9-5678-4e4e-9498-764333ec65c0" Alias="map 1.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T13:38:46</CreateDate>
    <NodeName Default="map 1.svg (1)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dmmlwe1d/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>