<?xml version="1.0" encoding="utf-8"?>
<Media Key="99f8c9c3-ed20-4992-a8ea-032e4bc1c63a" Alias="mirandadayton.svg.svg" Level="2">
  <Info>
    <Parent Key="a4cd75ac-e73f-47db-b946-89732f9c05c5">Tema</Parent>
    <Path>/Tema/mirandadaytonsvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T14:03:17</CreateDate>
    <NodeName Default="mirandadayton.svg.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gf0fu4z1/mirandadaytonsvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>