<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f328320-f4aa-4836-923b-5a2f902b8295" Alias="Onatriximage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Onatriximagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T14:34:11</CreateDate>
    <NodeName Default="Onatriximage.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0i5ja1nr/onatriximage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>