<?xml version="1.0" encoding="utf-8"?>
<Media Key="45165ed9-b198-4f47-8619-712d8082265f" Alias="riskmanagement-image.svg.svg" Level="2">
  <Info>
    <Parent Key="4364da6e-767a-425f-9e53-047cb19c26e8">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/riskmanagementImagesvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T10:06:56</CreateDate>
    <NodeName Default="riskmanagement-image.svg.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fprljj2d/riskmanagement-imagesvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>