<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad1e082f-582e-4651-9cdb-236273370a59" Alias="riskmanagement-bigimage.svg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/riskmanagementBigimagesvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T10:43:39</CreateDate>
    <NodeName Default="riskmanagement-bigimage.svg.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1w0lytzv/riskmanagement-bigimagesvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>