<?xml version="1.0" encoding="utf-8"?>
<Media Key="4364da6e-767a-425f-9e53-047cb19c26e8" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-05T10:05:23</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>