<?xml version="1.0" encoding="utf-8"?>
<Media Key="626d0159-3b25-4786-8456-c21da6587fcf" Alias="taxandtrusts-image.svg.svg" Level="2">
  <Info>
    <Parent Key="4364da6e-767a-425f-9e53-047cb19c26e8">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/taxandtrustsImagesvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T10:07:03</CreateDate>
    <NodeName Default="taxandtrusts-image.svg.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vo4m5ab4/taxandtrusts-imagesvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>