<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4cd75ac-e73f-47db-b946-89732f9c05c5" Alias="Tema" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Tema</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-27T13:58:20</CreateDate>
    <NodeName Default="Tema" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>