<?xml version="1.0" encoding="utf-8"?>
<Media Key="39fe1f75-16da-4330-8472-3c2fa442524e" Alias="tinafox.svg.svg" Level="2">
  <Info>
    <Parent Key="a4cd75ac-e73f-47db-b946-89732f9c05c5">Tema</Parent>
    <Path>/Tema/tinafoxsvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T14:03:24</CreateDate>
    <NodeName Default="tinafox.svg.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q4rfzw4b/tinafoxsvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>