<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7b7c0192-a97f-4a79-afae-65bd9379934e" Alias="formSubmissions" Level="2">
  <Info>
    <Name>Form Submissions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e6694250-0cb4-49b3-8dd3-b53a69d3981c" SortOrder="0">callbackRequest</ContentType>
    <ContentType Key="0be6dca4-341c-4a4f-b225-5422613a215a" SortOrder="1">questionRequest</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>