<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9a4170fe-a328-465c-b335-facab550b9f1" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="78e239ad-bdb5-4334-b38f-e2538020f1eb">pageFooter</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7ec73cab-328f-41f5-9947-c665f1ea18a1">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c5ace70e-2aa3-4878-94f6-576b6614404b" SortOrder="0">contactPage</ContentType>
    <ContentType Key="aff7048b-5961-4910-b83c-d40e7a043bec" SortOrder="1">servicePage</ContentType>
    <ContentType Key="b5ca33b9-9df1-4b75-95df-6a7f7fb43633" SortOrder="2">aboutPage</ContentType>
    <ContentType Key="bcaaf879-2c91-4f7f-9924-968130933f2e" SortOrder="3">projectPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>464e842b-04f7-49e1-82e0-6d7433c88009</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>8384a6da-c439-4140-b872-084a8cd0a229</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e01da829-cb92-4b70-8363-9f74d969683b</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>